
  <div class="container mt-4">
    <h1 class="text-center">{{ album.title }}</h1>
    <div *ngIf="songs.length > 0; else noSongs">
      <ol class="my-3">
        <li class="" *ngFor="let song of songs">
            <span><strong>{{ song.title }}</strong><br>
            Duration: <strong>{{ song.duration }} secondes</strong></span>
        </li>
      </ol>
    </div>
    <ng-template #noSongs>
      <p class="text-muted">Aucune chanson disponible pour le moment.</p>
    </ng-template>
  </div>