<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/songs" class="btn btn-outline-success ms-1">Songs<i class="bi bi-house text-success"></i></button>
    </li>

    <li>
      <button routerLink="/artistes" class="btn btn-outline-success ms-1">Artists<i class="bi bi-plus-circle text-success"></i></button>
    </li>

    <li>
      <button routerLink="/albums" class="btn btn-outline-success ms-1">Albums<i class="bi bi-plus-circle text-success"></i></button>
    </li>

    <li>
      <button routerLink="/genre" class="btn btn-outline-success ms-1">Genres<i class="bi bi-plus-circle text-success"></i></button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
