<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/home" class="btn btn-outline-success ms-1">Accueil<i class="bi bi-plus-circle text-success"></i></button>
    </li>

    <li>
      <button routerLink="/albums" class="btn btn-outline-success ms-1">Albums<i class="bi bi-plus-circle text-success"></i></button>
    </li>

    <li>
      <button routerLink="/artists" class="btn btn-outline-success ms-1">Artistes<i class="bi bi-plus-circle text-success"></i></button>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>
