<nav class="navbar navbar-light">
  <div class="ms-4">
    <img src="../assets/logo.png" class="logo" alt="">
  </div>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active-link">Accueil</a>
    </li>

    <li class="nav-item">
      <a routerLink="/albums" class="nav-link ms-1" routerLinkActive="active-link">Albums</a>
    </li>

    <li class="nav-item">
      <a routerLink="/artists" class="nav-link ms-1" routerLinkActive="active-link">Artistes</a>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>
