 <div class="titre text-center">
    <h1 class="display-4">Welcome to the Music World</h1>
    <p class="lead text-secondary">Explore Albums, Artists, and Genres</p>
    <img src="" class="img-fluid" alt="">
 </div>

 <div class="d-flex justify-content-around">
   <div class="col-sm-5 text-center my-4">
    <a routerLink="/artists" class="nav-link ms-1" routerLinkActive="active-link">
        <h2>Listen to your favorite artists</h2>
        <img src="../../assets/band.jpg" class="img-accueil img-fluid rounded my-3" alt="">
        <button class="btn btn-light">Click here to discover more</button>
     </a>
   </div>
   <div class="col-sm-5 text-center my-4">
    <a routerLink="/albums" class="nav-link ms-1" routerLinkActive="active-link">
        <h2>Listen to your favorite albums</h2>
        <img src="../../assets/cover.png" class="img-accueil img-fluid rounded my-3" alt="">
        <button class="btn btn-light">Click here to discover more</button>
     </a>
   </div>
 </div>